body{
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color:#FFFFFF;
}

img{
    display: block;
}

  .header{
          border-bottom:1px solid #e7e9fc;
     }

     .headerdiv{
          display: flex;
     }

     .container{
          width: 1158px;
          margin: 0 auto;
          padding: 0 15px;
     }

     .headernav{
          display: flex;
          align-items: center;
     }

.logo{
    font-family:"Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
     line-height:1.17;
     letter-spacing:0.03em;
     text-transform:uppercase;
     color: #4d5ae5;
     margin-right: 76px;
}

.ulheadernav{
     display: flex;
     gap: 40px;
     list-style:none;
}

.span{
     color: #2e2f42;
}
.listudio{
     font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color:#2e2f42;
      padding: 24px 0
}
.listudio:hover{
      color :#404bbf;
}
.listudio:focus{
     color: #404bbf;
}


.address{
     font-style: normal;
}

.uladdress{
     display: flex;
     gap: 40px
     list-style:none;
}
.contacts{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

.contacts:hover{
     color: #404bbf;
}

.contacts:focus{
     color: #404bbf;
}

.sfyb{
     background-color:#2e2f42;
     padding: 188px 0;
}

.esyb{
font-size: 56px;
line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
 color: #ffffff;
 max-width: 496px; 
}
.buttonos{
     background-color: #4D5AE5;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff ;
      cursor: pointer ;
      display: block;
      min-width: 169px;
      height: 56px;
      border: none;
      border-radius: 4px;
}
.buttonos:hover{
     background-color: #404BBF;
}
.buttonos:focus{
     background-color: #404BBF;
}

.sectionspdt{
padding: 120px 0;

}

.visually-hidden{
         position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.spdtul{
     display: flex;
     gap: 24px;
     padding-left: 0;
     margin:0;
     list-style:none;
}

.spdtli{
    width: calc((100% - 72px) / 4);
    padding-left: 0;
    margin:0;
}


.spdt{
     font-weight: 500;
     font-size: 20px ;
     line-height: 1.2;
      letter-spacing: 0.02em;
      color:  #2e2f42;
      margin-bottom: 8px;
}


.spdtp{
      line-height: 1.5;
      letter-spacing: 0.02em;
}

.steam{
     background-color: #F4F4FD;
     padding: 120px 0
}

.hteam{
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color:#2e2f42;
     margin-bottom: 72px;
}

.hteamul{
     display: flex;
     gap: 24px; 
     padding-left: 0;
     margin:0; 
     list-style:none;
}

.specialistlist{
     background-color: #FFFFFF;
     width: calc((100% - 72px) / 4);
     border-radius: 0px 0px 4px 4px;
     padding-left: 0;
     margin:0;
}

.specialistdiv{
     padding: 32px 0;
}
.specialisth{
     font-weight: 500;
     font-size: 20px;
      line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     text-align: center;
     margin-bottom: 8px;

}

.specialistp{
     color:#434455;
      line-height: 1.5;
       letter-spacing: 0.02em;
       text-align: center;
}

.opsection{
     padding-top: 120px;
     padding-bottom: 120px;
}

.ourportfolio{
     font-size: 36px;
     line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color:#2e2f42;
      margin-bottom: 72px;
}

.ulportfolio{
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
     padding-left: 0;
     margin:0;
     list-style:none;
}

.liportfolio{
     width: calc((100% - 48px) / 3);
     padding-left: 0;
    margin:0;
}

.oplisth{
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
     
}

.divhp{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.opp{
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.footer{
     background-color:#2e2f42;
     padding: 100px 0
}

.footerp{
     line-height: 1.5;
     color:#F4F4FD;
     letter-spacing: 0.02em;
}

.spanfooter{
     color: #f4f4fd;}

   .logof{
     display: inline-block; 
     margin-bottom: 16px; 
   }