body{
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color:#FFFFFF;

}

.logo{
    font-family:"Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
     line-height:1.17;
     letter-spacing:0.03em;
     text-transform:uppercase;
     color: #4d5ae5;
}
.span{
     color: #2e2f42;
}
.listudio{
     font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color:#2e2f42;
}
.listudio:hover{
      color :#404bbf;
}
.listudio:focus{
     color: #404bbf;
}


.address{
     font-style: normal;
}
.contacts{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

.contacts:hover{
     color: #404bbf;
}

.contacts:focus{
     color: #404bbf;
}

.sfyb{
     background-color:#2e2f42;
}

.esyb{
font-size: 56px;
line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
 color: #ffffff;
}
.buttonos{
     background-color: #4D5AE5;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff ;
      cursor: pointer ;
}
.buttonos:hover{
     background-color: #404BBF;
}
.buttonos:focus{
     background-color: #404BBF;
}

.spdt{
     font-weight: 500;
     font-size: 20px ;
     line-height: 1.2;
      letter-spacing: 0.02em;
      color:  #2e2f42;
}

.spdtp{
      line-height: 1.5;
      letter-spacing: 0.02em;
}

.steam{
     background-color: #F4F4FD;
}

.hteam{
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color:#2e2f42;
}

.specialistlist{
     background-color: #FFFFFF;
}

.specialisth{
     font-weight: 500;
     font-size: 20px;
      line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.specialistp{
     color:#434455;
      line-height: 1.5;
       letter-spacing: 0.02em;
}

.ourportfolio{
     font-size: 36px;
     line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color:#2e2f42;
}

.oplisth{
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}

.opp{
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.footer{
     background-color:#2e2f42;
}

.footerp{
     line-height: 1.5;
     color:#F4F4FD;
     letter-spacing: 0.02em;
}

.spanfooter{
     color: #f4f4fd;}